@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

main {
    background-color: #f2eee9;
    padding: 30px;
}

#top-line{
    height: 60px;
}

#title{
    font-size: 50px;
    font-family: "Audiowide";
}

#slogan{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.separator-right {
    margin-right: 10px;
}
.separator-left {
    margin-left: 10px;
}

.bg-image{
    background-image: url('./images/bgint1.png');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 55vh;
    width: 100%;
}

.navbar {
    border-bottom: 5px solid #FD9C1A;
}

.navbar-nav{
    margin: 0px;
    padding: 0px;
}
.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}

.navbar-nav .nav-item a:hover {
    background-color: #FD9C1A;
}

.nav .nav-item .nav-link {
    background-color: #121B27;
    color: #FD9C1A;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

#nav-calendar{
    background-color: #FD9C1A;
    color: #212529 !important;
}

.footer-content i {
    color: #FD9C1A;
}

.footer-content {
    border-top: 5px solid #FD9C1A;
}

#login:hover{
    background-color: #FD9C1A;
    color: black;
}

#login {
    background-color: #212529;
    border-color: #FD9C1A;
    color: white;
}

#register {
    background-color: #212529;
    color: white;
    border-color: #FD9C1A;
}

#register:hover {
    background-color: #FD9C1A;
    color: black;
}

main {
    font-family: "Montserrat", sans-serif;
}

#calendar {
    max-width: 800px;
    margin: 0px;
    background: #212529;
    padding: 15px;
    border: 5px solid #FD9C1A;
    color: #FD9C1A;
}

.fc-event {
    border: 1px solid #eee !important;
}

.fc-content {
    padding: 3px !important;
}

.fc-content .fc-title {
    display: block !important;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.fc-customButton-button {
    font-size: 13px !important;
    position: absolute;
    top:  0px;
    left: 50%;
    transform: translateY(-50%);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group>label {
    margin-bottom: 10px;
}

#delete-modal .modal-footer > .btn {

    border-radius: 3px !important; 
    padding: 0px 8px !important;
    font-size: 15px;

 }

.fc-scroller {
    overflow-y: hidden !important;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.context-menu.show {
    display: block;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul>li {
    display: block;
    ;
    padding: 5px 15px;
    list-style-type: none;
    color: #333;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.10s;
    font-size: 13px;
}

.context-menu ul>li:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: 2px;
}

.fa,
.fas {
    font-size: 13px;
    margin-right: 4px;
}