@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2eee9;
    margin: 0;
}

.separator-right {
    margin-right: 10px;
}

.separator-left {
    margin-left: 10px;
}

#top-line{
    height: 60px;
}

#top-line .col-6:last-child {
    display: flex;
    align-items: center;
}

#title {
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
    color: #212529;
}

#slogan {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #212529;
}

.bg-image {
    background-image: url('./images/bgint1.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 55vh;
    width: 100%;
    color: white;
}

.navbar {
    border-bottom: 5px solid #FD9C1A;
}

.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
    color: white;
}

.navbar-nav .nav-item a:hover {
    background-color: #FD9C1A;
    color: black;
}

.nav .nav-item .nav-link {
    background-color: #121B27;
    color: #FD9C1A;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

#nav-calendar{
    background-color: #FD9C1A;
    color: #212529 !important;
}

#nav-calendar:hover{
    color: white !important;
    background-color: #212529;
}

.footer-content i {
    color: #FD9C1A;
}

.footer-content {
    border-top: 5px solid #FD9C1A;
}

#login:hover,
#register:hover {
    background-color: #FD9C1A;
    color: black;
}

#login,
#register {
    background-color: #212529;
    color: white;
    border-color: #FD9C1A;
}

.container-calendar {
    background-color: #f2eee9;
    padding: 15px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

#event-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 3px solid #212529;
}

#event-section label {
    display: flex;
    width: 100px;
    float: left;
    font-style: italic;
}

#event-section input[type="date"],
#event-section input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    width: 80%;
}

#event-section button {
    background-color: #FD9C1A;
    color: #121B27;
    border-color: #212529;
    padding: 5px 10px;
    font-weight: bold;
}

#event-section button:hover {
    background-color: #121212;
    color: #FD9C1A;
    border-color: #FD9C1A;
    padding: 5px 10px;
    cursor: pointer;
}

#reminder-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 3px solid #212529;
}

#reminderList {
    list-style: none;
    padding: 0;
}

#reminderList li {
    margin: 5px 0;
    font-size: 16px;
}

.delete-event {
    background:#FD9C1A;
    border-radius: 12px;
    color: #121212;
    border: 1px solid #121212;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;
}

.delete-event:hover{
    background:red;
    color: white;
    cursor: pointer;
    border: 1px solid red;
    padding: 5px 10px;
    margin-left: 10px;
}

.button-container-calendar button {
    background: #FD9C1A;
    color: #212529;
    border: 1px solid #121B27;
    border-radius: 4px;
    padding: 5px 10px;
}
.button-container-calendar button:hover {
    cursor: pointer;
    background: #212529;
    color: #FD9C1A;
    border: 1px solid #FD9C1A;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker:hover {
    background-color: #212529;
    color: #FD9C1A;
    cursor: pointer;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 3px solid #FD9C1A;
    padding: 10px;
    font-weight: bold;
}

.row h3 {
    border-bottom: 3px solid #FD9C1A;
    color: #121B27;
    padding: 10px;
    margin: 10px;
}

.row h2 {
    border-bottom: 3px solid #212529;
    padding-bottom: 15px;
    font-style: italic;
}