@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2eee9;
    margin: 0;
    overflow-x: hidden;
}

main {
    background-color: #f2eee9;
    margin: 0;
    padding: 0;
}

.separator-right {
    margin-right: 10px;
}

.separator-left {
    margin-left: 10px;
}

#top-line{
    height: 60px;
}

#top-line .col-6:last-child {
    display: flex;
    align-items: center;
}

#title {
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
    color: #212529;
}

#slogan {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #212529;
}

#category {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bg-image {
    background-image: url('./images/bgint1.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 55vh;
    width: 100%;
    color: white;
}

.navbar {
    border-bottom: 5px solid #FD9C1A;
}

.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
    color: white;
}

.navbar-nav .nav-item a:hover {
    background-color: #FD9C1A;
    color: black;
}

.nav .nav-item .nav-link {
    background-color: #121B27;
    color: #FD9C1A;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

#nav-resource{
    background-color: #FD9C1A;
    color: #212529 !important;
}

#nav-resource:hover{
    color: white !important;
    background-color: #212529;
}

.footer-content i {
    color: #FD9C1A;
}

.footer-content {
    border-top: 5px solid #FD9C1A;
}

#login:hover,
#register:hover {
    background-color: #FD9C1A;
    color: black;
}

#login,
#register {
    background-color: #212529;
    color: white;
    border-color: #FD9C1A;
}

.info-section{
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 3px solid #212529;
}
.info-section h1{
    border-bottom: 3px solid #FD9C1A;
    padding-bottom: 15px;
    font-style: italic;
}

#info-image {    
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
}

#participate-button{
    width: calc(100% - 30px);
    font-weight: bold;
    background: #FD9C1A;
    color: #212529;
    border: 1px solid #121B27;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 15px;
}

#participate-button:hover{
    cursor: pointer;
    background: #212529;
    color: #FD9C1A;
    border: 1px solid #FD9C1A;
}
#eventadd-section,
#teacheradd-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 3px solid #212529;
}

#eventadd-section label,
#teacheradd-section label {
    display: flex;
    width: 100px;
    float: left;
    font-style: italic;
}

#eventadd-section input,
#teacheradd-section input {
    margin: 10px 0;
    padding: 5px;
    width: 80%;
}

#eventadd-section button,
#teacheradd-section button {
    background-color: #FD9C1A;
    color: #121B27;
    border-color: #212529;
    padding: 5px 10px;
    font-weight: bold;
}

#teacheradd-section button:hover {
    background-color: #121212;
    color: #FD9C1A;
    border-color: #FD9C1A;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.dropdown {
    display: inline-block;
}

#dropdown1, #dropdown2, 
#dropdown3, #dropdown4, 
#dropdown5 {
    font-weight: bold;
    background: #121212;
    color: #FD9C1A;
    border: 1px solid #FD9C1A;
    border-radius: 4px;
    margin: 5px;
}

#dropdown1:hover, #dropdown2:hover, 
#dropdown3:hover, #dropdown4:hover, 
#dropdown5:hover {
    font-weight: bold;
    background: #FD9C1A;
    color: #121212;
    border: 1px solid #121212;
    border-radius: 4px;
    margin: 5px;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.animated:hover {
    display: none;
    background-color: #121212;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    border: 1px solid white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animated {
    animation: fadeIn 0.5s ease-in-out;
    border: 1px solid #121212;
    background-color: #f2eee9;
    color: #121212;
}

.animated:hover {
    background-color: #e0dbd5;
}

#library {
    width: 100%;
    text-align: left;
}

#libraryAI:hover,
#libraryTech:hover,
#libraryBook:hover {
    background-color: #FD9C1A;
    border: 1px solid #121212;
    color: #121212;
}