@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

#title{
    font-family: "Audiowide";
}
.bg-image{
    background-image: url('./images/bgint.png');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 65vh;
}

.navbar-nav{
    margin: 0px;
    padding: 0px;
}
.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover {
    background-color: black;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption h1 {
    margin-bottom: 30px;
}

.carousel-caption .btn {
    background-color: #063073;
}

#photosCarousel {
    height: 400px;
    overflow: hidden;
}

#photosCarousel .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}