@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

#top-line{
    height: 60px;
}

#title{
    font-size: 50px;
    font-family: "Audiowide";
}

#slogan{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.separator-right {
    margin-right: 10px;
}
.separator-left {
    margin-left: 10px;
}

.bg-image{
    background-image: url('./images/bgint1.png');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 55vh;
    width: 100%;
}

.navbar-nav{
    margin: 0px;
    padding: 0px;
}
.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}

.navbar-nav .nav-item a:hover {
    background-color: #FD9C1A;
}

.nav .nav-item .nav-link {
    background-color: #121B27;
    color: #FD9C1A;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

.footer-content i {
    color: #FD9C1A;
}

#login {
    background-color: #FD9C1A;
    border-color: #FD9C1A;
    color: white;
}

#register {
    background-color: blue;
    color: white;
    border-color: blue;
}