@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

#top-line{
    height: 60px;
}

#title{
    font-size: 50px;
    font-family: "Audiowide";
}

#slogan{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.separator-right {
    margin-right: 10px;
}
.separator-left {
    margin-left: 10px;
}

.bg-image{
    background-image: url('./images/bgint.png');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 65vh;
    width: 100%;
}

.navbar-nav{
    margin: 0px;
    padding: 0px;
}
.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover {
    background-color: black;
}
